@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto+Condensed:wght@700&family=Roboto:wght@500&display=swap');

.banner-title h1 {
    font-family: 'Roboto Condensed', sans-serif;
}

.banner-container img {
    margin: 0;
    padding: 0;
}

.title-text {
    color: #706fd3;
}

.title-info {
    font-family: 'Open Sans', sans-serif;
}

.blockquote-container p {
    color: black;
}